name: Go test 
on: push

jobs:
  # Label of the runner job
  build-and-test:
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test-db 
          POSTGRES_USER: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
  
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Install goose for migrations
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - name: Run DB migrations
        env:
          GOOSE_DRIVER: postgres
          GOOSE_DBSTRING: "postgres://postgres:postgres@localhost:5432/test-db?sslmode=disable"
        run: goose -dir ./sql/schema up  

      - name: Build
        run: go build -v ./...

      - name: Test
        env:
          DB_URL: "postgres://postgres:postgres@localhost:5432/test-db?sslmode=disable"
        run: go test -v ./api/...


  


