
name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: "postgres"  
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "test-db"
    ports:
      - 2346:5432
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DB_URL: "postgres://postgres:postgres@localhost:2346/test-db"
      JWT_SECRET: "test"
      STATIC_FILES_DIR: "./test/static"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
