name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "test-db"
          POSTGRES_HOST: "postgres"
          POSTGRES_POST: 5432
        options: >-
          --health-cmd "pg_isready -U postgres" 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DB_URL: "postgres://postgres:postgres@postgres:5432/test-db?sslmode=disable"
      JWT_SECRET: "test"
      STATIC_FILES_DIR: "./test/static"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Install Postgres client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Install goose for migrations
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - name: Run DB migrations
        run: goose --dir sql/schema/ postgres "postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB?sslmode=disable" up

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
